{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<h1>branche master </h1>
<p>branche master </p>


<<<<<<< HEAD
<h1>branch 2</h1>
<p>dev_2</p>


<p>dev_1</p>

<strong>bon ok c marche</strong>





{% endblock %}
