{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



    <h1>branch dev_1</h1>
    <p>branch dev_1</p>

    <h3>branch dev_2</h3>
    <p>branch dev_2</p>



{% endblock %}
