{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>branch master </h1>
    <h2>premiere branch dev_1</h2>
    <h3>dernier branch </h3>
{% endblock %}
